@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, "Noto Sans TC", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  body {
    background-color: #F0F0F0;
    color: #000;
  }
}

@layer components {
  .btn-outline-primary {
    @apply text-black hover:text-white hover:border-black hover:bg-primary
  }
  .triangle-rb {
    @apply border-l-[16px] border-b-[16px] border-t-0 border-r-0 border-solid border-x-transparent border-t-transparent border-b-primary
  }
}
